@import '~bootstrap/scss/bootstrap.scss';

.gs-Files{

    h5{
        margin:1rem auto;
    }

    table{
        margin:0;

        tr{
            cursor: pointer;
        }
    }
}

.gs-Pagination{

    a{
        cursor: pointer;
    }
}